<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">\
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>MediPharm</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('products') }}">Products</a></li>
            {% if 'username' in session %}
                <li><a href="{{ url_for('cart') }}">Cart</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li>Welcome, {{ session['username'] }}</li>

                {% if session.get('username') == 'admin' %}
        
                    <li><a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a></li>
                    <li><a href="{{ url_for('admin_orders') }}">View Orders</a></li>
                    <li><a href="{{ url_for('admin_products') }}">Manage Products</a></li>
                {% endif %}
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
